@model HCH___WebAPI.Models.COMPRA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>COMPRA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdDistrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDistrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCompra }) |
    @Html.ActionLink("Back to List", "Index")
</p>
