@model HCH___WebAPI.Models.CARRITO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CARRITO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PRODUCTO.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCTO.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.Nombres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCarrito }) |
    @Html.ActionLink("Back to List", "Index")
</p>
